ADFDemoSiya/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFDemoSiya"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSqlDatabaseLinkedservice_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabaseLinkedservice'"
		},
		"CosmosDb_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CosmosDb'"
		},
		"AzureBlobStorage2_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "ConnectionStringSecret"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://SiyaKeyVault.vault.azure.net/"
		},
		"Eventrigger_properties_Event_based_trigger_Pipeline_parameters_PLFilename": {
			"type": "string",
			"defaultValue": "@triggerbody().fileName"
		},
		"Eventrigger_properties_Event_based_trigger_Pipeline_parameters_Archivepath": {
			"type": "string",
			"defaultValue": "Src_Backup"
		},
		"Eventrigger_properties_Event_based_trigger_Pipeline_parameters_FolderPath": {
			"type": "string",
			"defaultValue": "@triggerbody().folderPath"
		},
		"Eventrigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/9fa57d3b-318f-48b1-a867-f733ebadeb9b/resourceGroups/AzureDemoRG/providers/Microsoft.Storage/storageAccounts/adfdemosc"
		},
		"trigger1_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/9fa57d3b-318f-48b1-a867-f733ebadeb9b/resourceGroups/AzureDemoRG/providers/Microsoft.Storage/storageAccounts/adfdemosc"
		},
		"trigger2_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/9fa57d3b-318f-48b1-a867-f733ebadeb9b/resourceGroups/AzureDemoRG/providers/Microsoft.Storage/storageAccounts/adfdemosc"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Blob to AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Department",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dep",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DepartmentName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "depname",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DatasetDept",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DatasetDept')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BulkCopy from AzureSQl to AzureBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ListofTables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT\n  *\nFROM\n  ADFDemoDB.INFORMATION_SCHEMA.TABLES\nWHERE table_type = 'BASE TABLE' AND TABLE_NAME IN ('Cars','Countries','Movies')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Tablelist_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ListofTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ListofTables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Export Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlTable",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": {
													"value": "@item().table_name",
													"type": "Expression"
												},
												"Tablename": {
													"value": "@item().table_schema",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ExportedData_Bulkcopy_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"OutputFile": {
													"value": "@concat(item().table_schema,'_',item().table_name,'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Tablelist_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/SqlTable')]",
				"[concat(variables('factoryId'), '/datasets/ExportedData_Bulkcopy_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Event_based_trigger_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Event_Triggr_Dataflow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Event_Triggr_Dataflow",
								"type": "DataFlowReference",
								"parameters": {
									"DFilename": {
										"value": "'@{pipeline().parameters.PLFilename}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {
										"DSFilename": {
											"value": "@pipeline().parameters.PLFilename",
											"type": "Expression"
										}
									},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"parameters": {
					"PLFilename": {
						"type": "string"
					},
					"Archivepath": {
						"type": "string"
					},
					"FolderPath": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Event_Triggr_Dataflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OE_FORECAST_PIPELINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OE_Src",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SALE COUNTRY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SALE COUNTRY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "VEH_SOURCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VEH_SOURCE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "IMPORT / DOMESTIC",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IMPORT / DOMESTIC",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Mnemonic Only",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Mnemonic Only",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Sales: Mnemonic - Vehicle/Country or MCODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Sales: Mnemonic - Vehicle/Country or MCODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TCODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TCODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Sales: Sales Parent or GROUP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Sales: Sales Parent or GROUP",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Sales: Car/Truck or MACRO LEVEL SEGMENT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Sales: Car/Truck or MACRO LEVEL SEGMENT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Sales: Regional Sub-Segment or MODIFIED SEGMENT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Sales: Regional Sub-Segment or MODIFIED SEGMENT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Regional Segment  Concat or DRI SEGMENT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Regional Segment  Concat or DRI SEGMENT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Sales: Platform",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Sales: Platform",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Sales: Brand",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Sales: Brand",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Sales: Nameplate or MODEL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Sales: Nameplate or MODEL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TRIM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRIM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Electric",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Electric",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Sales: Body Type or BODYSTYLE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Sales: Body Type or BODYSTYLE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DOORS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DOORS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DRIVETYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DRIVETYPE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LAST UPDATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LAST UPDATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SERIES",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SERIES",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TYPE_F",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TYPE_F",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SECTION WIDTH",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SECTION WIDTH",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ASPECT RATIO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ASPECT RATIO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TYPE CONSTRUCTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TYPE CONSTRUCTION",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RIM DIAMETER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RIM DIAMETER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LOAD INDEX",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOAD INDEX",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SPEED SYMBOL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SPEED SYMBOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FRONT_SIZE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FRONT_SIZE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CORE_F_SIZE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CORE_F_SIZE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CHECK INFO F TO B",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CHECK INFO F TO B",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TYPE_R",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TYPE_R",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "REAR SECTION WIDTH",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REAR SECTION WIDTH",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "REAR ASPECT RATIO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REAR ASPECT RATIO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "REAR TYPE CONSTRUCTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REAR TYPE CONSTRUCTION",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "REAR RIM DIAMETER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REAR RIM DIAMETER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "REAR LOAD INDEX",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REAR LOAD INDEX",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "REAR SPEED SYMBOL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REAR SPEED SYMBOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "REAR_SIZE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REAR_SIZE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CORE_R_SIZE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CORE_R_SIZE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TIRE PARENT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TIRE PARENT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TIRE_BRAND",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TIRE_BRAND",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TIRE_MODEL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TIRE_MODEL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Tire Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tire Category",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle App",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle App",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Segment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Segment",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Reporting Segment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reporting Segment",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Tire Designation",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tire Designation",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "AS / SUM / WIN / LRR  APPLIES TO OEM MARKETING",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AS / SUM / WIN / LRR  APPLIES TO OEM MARKETING",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SIDEWALL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SIDEWALL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "WHEEL TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WHEEL TYPE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RUN_FLAT DETAIL  (INTERNAL TO TIRE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RUN_FLAT DETAIL  (INTERNAL TO TIRE)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PRES_MON",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PRES_MON",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MON_SUPP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MON_SUPP",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SPARE DETAIL  (EXTERNAL TO TIRE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SPARE DETAIL  (EXTERNAL TO TIRE)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1998_VVOL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1998_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1999_VVOL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1999_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2000_VVOL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2000_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2001_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2001_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2002_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2002_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2003_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2003_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2004_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2004_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2005_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2005_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2006_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2006_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2007_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2007_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2008_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2008_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2009_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2009_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2010_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2010_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2011_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2011_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2012_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2012_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2013_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2013_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2014_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2014_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2015_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2015_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2016_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2016_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2017_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2017_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2018_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2018_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2019_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2019_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2020_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2020_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2021_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2021_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2022_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2022_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2023_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2023_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2024_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2024_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2025_VVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2025_VVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1998_TVOL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1998_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1999_TVOL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1999_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2000_TVOL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2000_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2001_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2001_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2002_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2002_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2003_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2003_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2004_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2004_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2005_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2005_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2006_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2006_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2007_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2007_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2008_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2008_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2009_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2009_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2010_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2010_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2011_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2011_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2012_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2012_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2013_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2013_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2014_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2014_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2015_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2015_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2016_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2016_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2017_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2017_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2018_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2018_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2019_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2019_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2020_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2020_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2021_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2021_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2022_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2022_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2023_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2023_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2024_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2024_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2025_TVOL",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "2025_TVOL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Updated Segment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Updated Segment",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Updated Bodytype",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Updated Bodytype",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Sales: Regional Segment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Sales: Regional Segment",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Sales: Regional Price Class",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Sales: Regional Price Class",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Global Sales Segment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Global Sales Segment",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Global Sales Sub-segment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Global Sales Sub-segment",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Global Sales Price Class",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Global Sales Price Class",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Sales: Program",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Sales: Program",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RUN_FLAT SIMPL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RUN_FLAT SIMPL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SPARE TIRE SIMPL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SPARE TIRE SIMPL",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DatasetSnk",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Excel1')]",
				"[concat(variables('factoryId'), '/datasets/DatasetSnk')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StoredProcedure_Systemvariables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_logpipelineexecdetails]",
							"storedProcedureParameters": {
								"DFname": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelinename": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelinerunid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineruntime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelinetriggername": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseLinkedservice",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_AppendVar')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append List of Files",
						"type": "AppendVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ListofFiles",
							"value": {
								"value": "@pipeline().parameters.Filename",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"Filename": {
						"type": "string",
						"defaultValue": "SalesIndia.txt"
					}
				},
				"variables": {
					"ListofFiles": {
						"type": "Array",
						"defaultValue": [
							"SalesUS",
							"SalesUK"
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-11-11T18:32:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_Delete')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "FilesDelted",
								"value": "All files in Output folder of ADFdemo got deleted"
							}
						],
						"typeProperties": {
							"dataset": {
								"referenceName": "Deleted_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "adfdemoc/output"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": "2020-11-29T00:00:00.000Z",
								"modifiedDatetimeEnd": "2020-11-30T00:00:00.000Z"
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-11-11T18:06:01Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Deleted_Dataset')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_Execute')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Masterpipeline",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipeline_Delete",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Masterpipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-54.eastus.logic.azure.com:443/workflows/be65faf437d44de49a61260d79923416/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=g-Ax8281_OLfdJpiEwUsbhzYCyuW1q16kt2B3uqxrok",
							"method": "POST",
							"headers": {
								"ContentType": "applicationJson"
							},
							"body": {
								"value": "{\n\"Email To\" : \"mgousiya@pkglobal.com\",\n\"Subject\" : \"Pipeline_Execute  Successful\",\n\"DataFactoryName\" : \"@{pipeline().DataFactory}\",\n\"PipelineName\" : \"@{pipeline().Pipeline}\",\n\"pipelinerunid\" : \"@{pipeline().RunId}\",\n\"ErrorMessage\" : \" files are deleted within start and end time specified in pipeline_Delete\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-11-11T18:32:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline_Delete')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_Filter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.ListofValues",
								"type": "Expression"
							},
							"condition": {
								"value": "@greater(item(),3)",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"ListofValues": {
						"type": "array",
						"defaultValue": [
							1,
							2,
							3,
							4,
							5,
							6,
							7
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-11-11T18:38:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_setvariable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Filetype",
							"value": {
								"value": "@replace(pipeline().parameters.Filename,'Sales','')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"Filename": {
						"type": "string",
						"defaultValue": "DailySales"
					}
				},
				"variables": {
					"Filetype": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-11-11T18:20:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "OriginalSize",
						"type": "varchar"
					},
					{
						"name": "CorrectedSize",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OE_Forecast_Size_Corrctn"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "OriginalSpeedRating",
						"type": "varchar"
					},
					{
						"name": "NewSpeedRating",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OE_Forecast_SpeedRatng"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "OETireSize",
						"type": "varchar"
					},
					{
						"name": "LoadRange",
						"type": "varchar"
					},
					{
						"name": "Updated_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Inserted_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OE_Forecast_Loadrange"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "VehicleSaleCountry",
						"type": "varchar"
					},
					{
						"name": "VehicleSourceCountry",
						"type": "varchar"
					},
					{
						"name": "VehicleSourceClassification",
						"type": "varchar"
					},
					{
						"name": "Markitcode",
						"type": "varchar"
					},
					{
						"name": "MCODE",
						"type": "varchar"
					},
					{
						"name": "TCODE",
						"type": "varchar"
					},
					{
						"name": "VehicleSalesParent",
						"type": "varchar"
					},
					{
						"name": "VehicleMacroSegment",
						"type": "varchar"
					},
					{
						"name": "VehicleSubsegment",
						"type": "varchar"
					},
					{
						"name": "VehicleMicroSegment",
						"type": "varchar"
					},
					{
						"name": "VehiclePlatform",
						"type": "varchar"
					},
					{
						"name": "VehicleBrand",
						"type": "varchar"
					},
					{
						"name": "VehicleModel",
						"type": "varchar"
					},
					{
						"name": "VehicleTrim",
						"type": "varchar"
					},
					{
						"name": "VehicleElectricIndicator",
						"type": "varchar"
					},
					{
						"name": "VehicleBodyStyle",
						"type": "varchar"
					},
					{
						"name": "VehicleNumberofDoors",
						"type": "varchar"
					},
					{
						"name": "VehicleDriveType",
						"type": "varchar"
					},
					{
						"name": "VehicleLastUpdate",
						"type": "varchar"
					},
					{
						"name": "VehicleSeries",
						"type": "varchar"
					},
					{
						"name": "TirePrefix",
						"type": "varchar"
					},
					{
						"name": "TireSectionWidth",
						"type": "varchar"
					},
					{
						"name": "TireAspectRatio",
						"type": "varchar"
					},
					{
						"name": "TireConstruction",
						"type": "varchar"
					},
					{
						"name": "TireRimDiameter",
						"type": "varchar"
					},
					{
						"name": "TireLoadIndex",
						"type": "varchar"
					},
					{
						"name": "TireSpeedRating",
						"type": "varchar"
					},
					{
						"name": "TireTotalSize",
						"type": "varchar"
					},
					{
						"name": "TireSize",
						"type": "varchar"
					},
					{
						"name": "FrontvsRearTireDifferent",
						"type": "varchar"
					},
					{
						"name": "TireParent",
						"type": "varchar"
					},
					{
						"name": "TireBrand",
						"type": "varchar"
					},
					{
						"name": "TireModel",
						"type": "varchar"
					},
					{
						"name": "RMATireCategory",
						"type": "varchar"
					},
					{
						"name": "RMAVehicleApp",
						"type": "varchar"
					},
					{
						"name": "RMASegment",
						"type": "varchar"
					},
					{
						"name": "ReportingSegment",
						"type": "varchar"
					},
					{
						"name": "TireDesignation",
						"type": "varchar"
					},
					{
						"name": "TireApplication",
						"type": "varchar"
					},
					{
						"name": "TireSidewall",
						"type": "varchar"
					},
					{
						"name": "WheelType",
						"type": "varchar"
					},
					{
						"name": "TireRunFlatTechnology",
						"type": "varchar"
					},
					{
						"name": "TirePressureMonitoring",
						"type": "varchar"
					},
					{
						"name": "SupplierofTirePressureMonitoring",
						"type": "varchar"
					},
					{
						"name": "SpareDetail",
						"type": "varchar"
					},
					{
						"name": "VehicleUpdatedSegment",
						"type": "varchar"
					},
					{
						"name": "VehicleUpdatedBodytype",
						"type": "varchar"
					},
					{
						"name": "VehicleRegionalSegment",
						"type": "varchar"
					},
					{
						"name": "VehicleRegionalPriceClass",
						"type": "varchar"
					},
					{
						"name": "VehicleGlobalSegment",
						"type": "varchar"
					},
					{
						"name": "VehicleGlobalSubsegment",
						"type": "varchar"
					},
					{
						"name": "VehicleGlobalPriceClass",
						"type": "varchar"
					},
					{
						"name": "VehicleProgram",
						"type": "varchar"
					},
					{
						"name": "SimpleRunFlatDetail",
						"type": "varchar"
					},
					{
						"name": "SimpleSpareDetail",
						"type": "varchar"
					},
					{
						"name": "VehicleModelYear",
						"type": "varchar"
					},
					{
						"name": "TireVolume",
						"type": "varchar"
					},
					{
						"name": "VehicleSalesVolume",
						"type": "varchar"
					},
					{
						"name": "TirePosition",
						"type": "varchar"
					},
					{
						"name": "TimestampofData",
						"type": "date"
					},
					{
						"name": "TimestampTimezone",
						"type": "varchar"
					},
					{
						"name": "TireLoadRange",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OE_Forecast_Output_Azure"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetDept')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "DRVD_2",
						"folderPath": "input",
						"container": "adfdemoc"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "DepartmentName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetSnk')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TIRE_FORECAST_US_CAN_1020_w_HIST_updated_111720.xlsx.csv",
						"folderPath": "output",
						"container": "adfdemoc"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SALE COUNTRY",
						"type": "String"
					},
					{
						"name": "VEH_SOURCE",
						"type": "String"
					},
					{
						"name": "IMPORT / DOMESTIC",
						"type": "String"
					},
					{
						"name": "Mnemonic Only",
						"type": "String"
					},
					{
						"name": "Vehicle Sales: Mnemonic - Vehicle/Country or MCODE",
						"type": "String"
					},
					{
						"name": "TCODE",
						"type": "String"
					},
					{
						"name": "Vehicle Sales: Sales Parent or GROUP",
						"type": "String"
					},
					{
						"name": "Vehicle Sales: Car/Truck or MACRO LEVEL SEGMENT",
						"type": "String"
					},
					{
						"name": "Vehicle Sales: Regional Sub-Segment or MODIFIED SEGMENT",
						"type": "String"
					},
					{
						"name": "Regional Segment  Concat or DRI SEGMENT",
						"type": "String"
					},
					{
						"name": "Vehicle Sales: Platform",
						"type": "String"
					},
					{
						"name": "Vehicle Sales: Brand",
						"type": "String"
					},
					{
						"name": "Vehicle Sales: Nameplate or MODEL",
						"type": "String"
					},
					{
						"name": "TRIM",
						"type": "String"
					},
					{
						"name": "Electric",
						"type": "String"
					},
					{
						"name": "Vehicle Sales: Body Type or BODYSTYLE",
						"type": "String"
					},
					{
						"name": "DOORS",
						"type": "String"
					},
					{
						"name": "DRIVETYPE",
						"type": "String"
					},
					{
						"name": "LAST UPDATE",
						"type": "String"
					},
					{
						"name": "SERIES",
						"type": "String"
					},
					{
						"name": "TYPE_F",
						"type": "String"
					},
					{
						"name": "SECTION WIDTH",
						"type": "String"
					},
					{
						"name": "ASPECT RATIO",
						"type": "String"
					},
					{
						"name": "TYPE CONSTRUCTION",
						"type": "String"
					},
					{
						"name": "RIM DIAMETER",
						"type": "String"
					},
					{
						"name": "LOAD INDEX",
						"type": "String"
					},
					{
						"name": "SPEED SYMBOL",
						"type": "String"
					},
					{
						"name": "FRONT_SIZE",
						"type": "String"
					},
					{
						"name": "CORE_F_SIZE",
						"type": "String"
					},
					{
						"name": "CHECK INFO F TO B",
						"type": "String"
					},
					{
						"name": "TYPE_R",
						"type": "String"
					},
					{
						"name": "REAR SECTION WIDTH",
						"type": "String"
					},
					{
						"name": "REAR ASPECT RATIO",
						"type": "String"
					},
					{
						"name": "REAR TYPE CONSTRUCTION",
						"type": "String"
					},
					{
						"name": "REAR RIM DIAMETER",
						"type": "String"
					},
					{
						"name": "REAR LOAD INDEX",
						"type": "String"
					},
					{
						"name": "REAR SPEED SYMBOL",
						"type": "String"
					},
					{
						"name": "REAR_SIZE",
						"type": "String"
					},
					{
						"name": "CORE_R_SIZE",
						"type": "String"
					},
					{
						"name": "TIRE PARENT",
						"type": "String"
					},
					{
						"name": "TIRE_BRAND",
						"type": "String"
					},
					{
						"name": "TIRE_MODEL",
						"type": "String"
					},
					{
						"name": "Tire Category",
						"type": "String"
					},
					{
						"name": "Vehicle App",
						"type": "String"
					},
					{
						"name": "Segment",
						"type": "String"
					},
					{
						"name": "Reporting Segment",
						"type": "String"
					},
					{
						"name": "Tire Designation",
						"type": "String"
					},
					{
						"name": "AS / SUM / WIN / LRR  APPLIES TO OEM MARKETING",
						"type": "String"
					},
					{
						"name": "SIDEWALL",
						"type": "String"
					},
					{
						"name": "WHEEL TYPE",
						"type": "String"
					},
					{
						"name": "RUN_FLAT DETAIL  (INTERNAL TO TIRE)",
						"type": "String"
					},
					{
						"name": "PRES_MON",
						"type": "String"
					},
					{
						"name": "MON_SUPP",
						"type": "String"
					},
					{
						"name": "SPARE DETAIL  (EXTERNAL TO TIRE)",
						"type": "String"
					},
					{
						"name": "1998_VVOL",
						"type": "String"
					},
					{
						"name": "1999_VVOL",
						"type": "String"
					},
					{
						"name": "2000_VVOL",
						"type": "String"
					},
					{
						"name": "2001_VVOL",
						"type": "String"
					},
					{
						"name": "2002_VVOL",
						"type": "String"
					},
					{
						"name": "2003_VVOL",
						"type": "String"
					},
					{
						"name": "2004_VVOL",
						"type": "String"
					},
					{
						"name": "2005_VVOL",
						"type": "String"
					},
					{
						"name": "2006_VVOL",
						"type": "String"
					},
					{
						"name": "2007_VVOL",
						"type": "String"
					},
					{
						"name": "2008_VVOL",
						"type": "String"
					},
					{
						"name": "2009_VVOL",
						"type": "String"
					},
					{
						"name": "2010_VVOL",
						"type": "String"
					},
					{
						"name": "2011_VVOL",
						"type": "String"
					},
					{
						"name": "2012_VVOL",
						"type": "String"
					},
					{
						"name": "2013_VVOL",
						"type": "String"
					},
					{
						"name": "2014_VVOL",
						"type": "String"
					},
					{
						"name": "2015_VVOL",
						"type": "String"
					},
					{
						"name": "2016_VVOL",
						"type": "String"
					},
					{
						"name": "2017_VVOL",
						"type": "String"
					},
					{
						"name": "2018_VVOL",
						"type": "String"
					},
					{
						"name": "2019_VVOL",
						"type": "String"
					},
					{
						"name": "2020_VVOL",
						"type": "String"
					},
					{
						"name": "2021_VVOL",
						"type": "String"
					},
					{
						"name": "2022_VVOL",
						"type": "String"
					},
					{
						"name": "2023_VVOL",
						"type": "String"
					},
					{
						"name": "2024_VVOL",
						"type": "String"
					},
					{
						"name": "2025_VVOL",
						"type": "String"
					},
					{
						"name": "1998_TVOL",
						"type": "String"
					},
					{
						"name": "1999_TVOL",
						"type": "String"
					},
					{
						"name": "2000_TVOL",
						"type": "String"
					},
					{
						"name": "2001_TVOL",
						"type": "String"
					},
					{
						"name": "2002_TVOL",
						"type": "String"
					},
					{
						"name": "2003_TVOL",
						"type": "String"
					},
					{
						"name": "2004_TVOL",
						"type": "String"
					},
					{
						"name": "2005_TVOL",
						"type": "String"
					},
					{
						"name": "2006_TVOL",
						"type": "String"
					},
					{
						"name": "2007_TVOL",
						"type": "String"
					},
					{
						"name": "2008_TVOL",
						"type": "String"
					},
					{
						"name": "2009_TVOL",
						"type": "String"
					},
					{
						"name": "2010_TVOL",
						"type": "String"
					},
					{
						"name": "2011_TVOL",
						"type": "String"
					},
					{
						"name": "2012_TVOL",
						"type": "String"
					},
					{
						"name": "2013_TVOL",
						"type": "String"
					},
					{
						"name": "2014_TVOL",
						"type": "String"
					},
					{
						"name": "2015_TVOL",
						"type": "String"
					},
					{
						"name": "2016_TVOL",
						"type": "String"
					},
					{
						"name": "2017_TVOL",
						"type": "String"
					},
					{
						"name": "2018_TVOL",
						"type": "String"
					},
					{
						"name": "2019_TVOL",
						"type": "String"
					},
					{
						"name": "2020_TVOL",
						"type": "String"
					},
					{
						"name": "2021_TVOL",
						"type": "String"
					},
					{
						"name": "2022_TVOL",
						"type": "String"
					},
					{
						"name": "2023_TVOL",
						"type": "String"
					},
					{
						"name": "2024_TVOL",
						"type": "String"
					},
					{
						"name": "2025_TVOL",
						"type": "String"
					},
					{
						"name": "Updated Segment",
						"type": "String"
					},
					{
						"name": "Updated Bodytype",
						"type": "String"
					},
					{
						"name": "Vehicle Sales: Regional Segment",
						"type": "String"
					},
					{
						"name": "Vehicle Sales: Regional Price Class",
						"type": "String"
					},
					{
						"name": "Global Sales Segment",
						"type": "String"
					},
					{
						"name": "Global Sales Sub-segment",
						"type": "String"
					},
					{
						"name": "Global Sales Price Class",
						"type": "String"
					},
					{
						"name": "Vehicle Sales: Program",
						"type": "String"
					},
					{
						"name": "RUN_FLAT SIMPL",
						"type": "String"
					},
					{
						"name": "SPARE TIRE SIMPL",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatasetSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "SCD1",
						"container": "adfdemoc"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Deleted_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*",
						"folderPath": "Output",
						"container": "adfdemoc"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "OE_FAORECAST_OUTPUT1.csv",
						"folderPath": "Output",
						"container": "adfdemoc"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Vehicle Sale Country",
						"type": "String"
					},
					{
						"name": "Vehicle Source Country",
						"type": "String"
					},
					{
						"name": "Vehicle Source Classification",
						"type": "String"
					},
					{
						"name": "Markit code",
						"type": "String"
					},
					{
						"name": "MCODE",
						"type": "String"
					},
					{
						"name": "TCODE",
						"type": "String"
					},
					{
						"name": "Vehicle Sales Parent",
						"type": "String"
					},
					{
						"name": "Vehicle Macro Segment",
						"type": "String"
					},
					{
						"name": "Vehicle Sub-segment",
						"type": "String"
					},
					{
						"name": "Vehicle Micro Segment",
						"type": "String"
					},
					{
						"name": "Vehicle Platform",
						"type": "String"
					},
					{
						"name": "Vehicle Brand",
						"type": "String"
					},
					{
						"name": "Vehicle Model",
						"type": "String"
					},
					{
						"name": "Vehicle Trim",
						"type": "String"
					},
					{
						"name": "Vehicle Electric Indicator",
						"type": "String"
					},
					{
						"name": "Vehicle Body Style",
						"type": "String"
					},
					{
						"name": "Vehicle Number of Doors",
						"type": "String"
					},
					{
						"name": "Vehicle Drive Type",
						"type": "String"
					},
					{
						"name": "Vehicle Last Update",
						"type": "String"
					},
					{
						"name": "Vehicle Series",
						"type": "String"
					},
					{
						"name": "Tire Prefix",
						"type": "String"
					},
					{
						"name": "Tire Section Width",
						"type": "String"
					},
					{
						"name": "Tire Aspect Ratio",
						"type": "String"
					},
					{
						"name": "Tire Construction",
						"type": "String"
					},
					{
						"name": "Tire Rim Diameter",
						"type": "String"
					},
					{
						"name": "Tire Load Index",
						"type": "String"
					},
					{
						"name": "Tire Speed Rating",
						"type": "String"
					},
					{
						"name": "Tire Total Size",
						"type": "String"
					},
					{
						"name": "Tire Size",
						"type": "String"
					},
					{
						"name": "Front vs Rear Tire Different",
						"type": "String"
					},
					{
						"name": "Tire Parent",
						"type": "String"
					},
					{
						"name": "Tire Brand",
						"type": "String"
					},
					{
						"name": "Tire Model",
						"type": "String"
					},
					{
						"name": "RMA Tire Category",
						"type": "String"
					},
					{
						"name": "RMA Vehicle App",
						"type": "String"
					},
					{
						"name": "RMA Segment",
						"type": "String"
					},
					{
						"name": "Reporting Segment",
						"type": "String"
					},
					{
						"name": "Tire Designation",
						"type": "String"
					},
					{
						"name": "Tire Application",
						"type": "String"
					},
					{
						"name": "Tire Sidewall",
						"type": "String"
					},
					{
						"name": "Wheel Type",
						"type": "String"
					},
					{
						"name": "Tire Run Flat Technology",
						"type": "String"
					},
					{
						"name": "Tire Pressure Monitoring",
						"type": "String"
					},
					{
						"name": "Supplier of Tire Pressure Monitoring",
						"type": "String"
					},
					{
						"name": "Spare Detail",
						"type": "String"
					},
					{
						"name": "Vehicle Updated Segment",
						"type": "String"
					},
					{
						"name": "Vehicle Updated Bodytype",
						"type": "String"
					},
					{
						"name": "Vehicle Regional Segment",
						"type": "String"
					},
					{
						"name": "Vehicle Regional Price Class",
						"type": "String"
					},
					{
						"name": "Vehicle Global Segment",
						"type": "String"
					},
					{
						"name": "Vehicle Global Subsegment",
						"type": "String"
					},
					{
						"name": "Vehicle Global Price Class",
						"type": "String"
					},
					{
						"name": "Vehicle Program",
						"type": "String"
					},
					{
						"name": "Simple Run Flat Detail",
						"type": "String"
					},
					{
						"name": "Simple Spare Detail",
						"type": "String"
					},
					{
						"name": "Vehicle Model Year",
						"type": "String"
					},
					{
						"name": "Tire Volume",
						"type": "String"
					},
					{
						"name": "Vehicle Sales Volume",
						"type": "String"
					},
					{
						"name": "Tire Position",
						"type": "String"
					},
					{
						"name": "Timestamp of Data",
						"type": "String"
					},
					{
						"name": "Timestamp Timezone",
						"type": "String"
					},
					{
						"name": "Tire Load Range",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EventTriggrInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DSFilename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().DSFilename",
							"type": "Expression"
						},
						"container": "eventtrigger"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Model",
						"type": "String"
					},
					{
						"name": "Length",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Event_Triggr_SQLdataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "varchar"
					},
					{
						"name": "Model",
						"type": "varchar"
					},
					{
						"name": "Length",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Cars"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Loadrange_details",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Loadrange_1.xlsx",
						"folderPath": "SCD1",
						"container": "adfdemoc"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "OETireSize ",
						"type": "String"
					},
					{
						"name": "LoadRange",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExportedData_Bulkcopy_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"OutputFile": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().OutputFile",
							"type": "Expression"
						},
						"folderPath": "output",
						"container": "adfdemoc"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Foreach_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().FolderName",
							"type": "Expression"
						},
						"container": "adfdemoc"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "DepartmentName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OE_FORECAST_OUTPUT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Output",
						"container": "adfdemoc"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedservice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SchemaName": {
						"type": "string"
					},
					"Tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().Tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tablelist_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLinkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('AzureBlobStorage2_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseLinkedservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabaseLinkedservice_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('CosmosDb_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Eventrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [
					"Eventtrigger"
				],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Event_based_trigger_Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {
							"PLFilename": "[parameters('Eventrigger_properties_Event_based_trigger_Pipeline_parameters_PLFilename')]",
							"Archivepath": "[parameters('Eventrigger_properties_Event_based_trigger_Pipeline_parameters_Archivepath')]",
							"FolderPath": "[parameters('Eventrigger_properties_Event_based_trigger_Pipeline_parameters_FolderPath')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/eventtrigger/blobs/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('Eventrigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Event_based_trigger_Pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/adfdemoc/blobs/Event/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger1_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/adfdemoc/blobs/Event/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger2_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Event_Triggr_Dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "EventTriggrInput",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Event_Triggr_SQLdataset",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tDFilename as string\n}\nsource(output(\n\t\tID as string,\n\t\tName as string,\n\t\tModel as string,\n\t\tLength as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tmoveFiles: [($DFilename),'Src_Backup/']) ~> source1\nsource1 derive(Length = right(toString(Length),2)) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tID as integer,\n\t\tName as string,\n\t\tModel as string,\n\t\tLength as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tpreSQLs:['set identity_insert Cars on'],\n\tpostSQLs:['set identity_insert Cars off'],\n\tmapColumn(\n\t\tID,\n\t\tName,\n\t\tModel,\n\t\tLength\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/EventTriggrInput')]",
				"[concat(variables('factoryId'), '/datasets/Event_Triggr_SQLdataset')]"
			]
		}
	]
}